body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

.project {
    background: #eee;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: green;
}
